.title-name {
  text-align:left;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.sub-title {
  text-align:left;
  font-size: 18px;
  color: white;
}

.sub-title > p {
  margin: 1px;
}
.container-social {
  margin: 5px;
}
