<div class="row container-social">
  <div class="col-sm-3"></div>
  <span class="title-name">
    Thiago Santos do Bomfim
  </span>
  <div class="sub-title">
    <p>
      <b>{{"Profissao" | translate}}:</b> {{"engenheiroSoftware" | translate}}
    </p>
    <p>
      <b>{{"Idade" | translate}}:</b> {{minhaIdade}}
    </p>
    <p>
      <b>E-mail:</b> thiagobomfim1995@gmail.com <br>
    </p>
    <p>
      <b>{{"Telefone" | translate}}:</b> +55(61) 98494-8850
    </p>
  </div>
</div>
<div class="row container-social">
  <div *ngFor="let card of cards">
    <a target="_blank" href="{{card.url}}" class="col-1">
      <img [src]="card.image" style="max-width:40px; max-height:40px;">
    </a>
  </div>
</div>
<div class="row curriculo-info ">
  <div class="col-12">
    <a href="/assets/certificados/Meu_Curriculo.pdf" target="_blank" style="text-decoration: none;">
      <img src="favicon.ico" style="max-width:40px; max-height:40px;"> Curriculum</a>
  </div>
</div>
