<div class="row">
  <div class="col-sm-3"></div>
  <h1 class="col-sm-6" style="text-align:center; font-weight: bold ">
    {{"title-social" | translate}}
  </h1>
  <div class="col-sm-3" style="text-align: right">
      <a href="javascript:void(0);" (click)="switchLanguage('en')"> <img [src]="usaImage" style="max-width:80px; max-height:80px;"></a>
      <a href="javascript:void(0);" (click)="switchLanguage('pt')"> <img [src]="brazilImage" style="max-width:80px; max-height:80px;"></a>
  </div>
</div>
<div class="row">
  <div *ngFor="let card of cards" class="my-card">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <img [src]="card.image" style="max-width:40px; max-height:40px;">
        </div>
        <b>
          <mat-card-title>{{card.title}}</mat-card-title>
        </b>
      </mat-card-header>
      <mat-card-content *ngIf="card.showInfo">
        <p [innerHTML]=card.describe>

        </p>
      </mat-card-content>
      <mat-card-actions style='text-align:right;'>
        <button class="btn btn-primary" (click)="moreInfo(card)">{{"mostrar-info" | translate}}</button>
        <a type="button" target="_blank" class="btn btn-success" href="{{card.url}}">{{"abrir" | translate}}</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
