.my-container {
  margin: 30px;
}

.right-container-dark {
  border-style: double;
  color: white;
  background-color: darkgrey;
  padding: 10px;
}

.right-container {
  border-style: double;
  color: black;
  background-color: lightblue;
  padding: 10px;
}


.left-container-dark {
  border-style: double;
  color: white;
  background-color: darkgray;
  padding: 10px;
}

.left-container {
  border-style: double;
  color: black;
  background-color: lightgreen;
  padding: 10px;
}

.title-conhecimento {
  text-align:left;
  font-weight: bold;
  font-size: 30px;
}

.sub-container {
  margin: 5px;
}

.interruptor-style > img{
  max-width:110px;
  max-height:110px;
  margin: 10px;
}
