<div class="grad-green container" style="padding-bottom:30px;">
  <app-social-info></app-social-info>

  <br>
  <br>

  <div>
    <h1 class="col-12" style="text-align:center; font-weight: bold">
        {{"conhecimento" | translate}}
    </h1>
    <app-back-end-conhecimento></app-back-end-conhecimento>
    <app-front-end-conhecimento></app-front-end-conhecimento>
    <app-database-conhecimento></app-database-conhecimento>
    <app-mobile-conhecimento></app-mobile-conhecimento>
    <app-server-conhecimento></app-server-conhecimento>
    <app-others-conhecimento></app-others-conhecimento>
  </div>
</div>
